*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
#container
{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #e9e9eb;
}

#container #logo
{
    position: absolute;
    left: 10%;
    top: 10px;
    font-size: 60px;
    z-index: 997;
    font-weight: bold;
    color: #165397;
}

#navbar
{
    height: 90px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fdfefe;
    display: grid;
    place-items: center;
}
#navbar ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
}
#navbar ul li
{
    font-size: 20px;
    margin: 0 45px;
}
#navbar ul li a
{
    text-decoration: none;
    color: #000;
}
#navbar ul li a:hover
{
    color: #165397;
}
#image
{
    position: absolute;
    top: calc(30% - 100px);
    right: 0%;
    z-index: 999;
}
#image img
{
    height: 600px;
    
    transition: 0.5s;
}
#image img:hover
{
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));

}

#content
{
    position: absolute;
    top: 30%;
    left: 8%;
    z-index: 996;
}
#content h2
{
    font-size: 40px;
    color: #165397;
    font-weight: 600;
    text-transform: uppercase;
}
#content:hover h2
{
    color: #000;
    transition: 0.5s;
}
#content h4
{
    font-size: 70px;
    color: #000;
}
#content:hover h4
{
    color: #165397;
    transition: 0.5s;
}
#icons
{
    height: 500px;
    width: 65px;
    position: absolute;
    left: 0;
    top: calc(50% - 250px);
    background: #1c5da4;
    border-radius: 0 60px 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 998;
}
#icons:hover
{
    background: #000;
}
#icons a
{
    text-decoration: none;
    height: 40px;
    width: 40px;
    font-size: 23px;
    color: #e9e9eb;
    display: grid;
    place-items: center;
    margin: 30px 0
}
#icons a:hover
{
    color: #1b66bb;
}
#offside
{
    position: absolute;
    top: calc(17% - 100px);
    left: 50%;
    
}
#goalclearence
{
    position :absolute ;
    top: calc(17% - 100px);
    left: 55%;
    
}
#image-upload
{
 display: inline-block;
  padding: 10px;
  cursor: pointer;
  color: #ffffff;
  background-color: #1b66bb;
  border: #165397;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-align: end;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 5px;
  
}
#image-preview
{
    width: 450px;
    height: 300px;
    border: 1px solid black;
    position: absolute;
    bottom: 10px;
    right: 130%;
}
#video {
    display: block;
    position: absolute;
    top: 400px;
    right: 500px;
   
  }
